{% extends 'base.html' %}

{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'detect/styles/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'detect/styles/angulardropimage.css' %}" />
{% endblock css %}

{% block content %}

<div ng-app="myApp">
  <div ng-controller="MainController">
    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                  file="image" file-name="imageFileName" data-max-file-size="3">
      <span>Drop Image Here</span>
    </div>
    <div class="image-container">
      <img ng-src={{image}} />
      <span class="file-name">{{imageFileName}}</span>
    </div>

  </div>

  <form action>
    <input type="file" fileread="uploadme.src">
    <img ng-src="{{ uploadme.src }}">
  </form>

</div>

<!-- {% if 1 == 1 %}
    <h1>
        TRUE: {{ myheader }}
        <li><a href="https://www.google.com/">Google</a></li>
        <li><a href="https://www.ibm.com/">IBM</a></li>
        <li><a href="https://www.twitter.com/">Twitter</a></li>
    </h1>
{% else %}
    <h4>
        FALSE: {myheader}
    </h4>
{% endif %} -->

{% endblock content %}


{% block js %}
<script src="{% static 'detect/scripts/angulardropimage.js' %}"></script>
{% endblock js %}
