{% extends 'base.html' %}

{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'detect/styles/index.css' %}" />
{% endblock css %}

{% block content %}
{% if 1 == 1 %}
    <h1>
        TRUE: {{ myheader }}
        <li><a href="https://www.google.com/">Google</a></li>
        <li><a href="https://www.ibm.com/">IBM</a></li>
        <li><a href="https://www.twitter.com/">Twitter</a></li>
    </h1>
{% else %}
    <h4>
        FALSE: {myheader}
    </h4>
{% endif %}

{% endblock content %}


{% block js %}
<script src="{% static 'detect/scripts/dropzone.min.js' %}"></script>
{% endblock js %}
